Winform/QLNSMay10/obj/
Winform/QLNSMay10/packages/
Winform/QLNSMay10/bin/
Winform/QLNSMay10/.vs/QLNSMay10/FileContentIndex/6f12c51c-9d69-486d-ac57-ad10180d83e7.vsidx
Winform/QLNSMay10/.vs/
Winform/QLNSMay10/ConnectSql/
